{
   "mapper": [
        { "key": "<%= slugifiedPluralName %>", "value":  "/modules/<%= slugifiedPluralName %>/client/<%= slugifiedPluralName %>.client.module.js" } ,
        { "key": "<%= slugifiedPluralName %>Client", "value": "/modules/<%= slugifiedPluralName %>/client/config/<%= slugifiedPluralName %>.client.config.js"},
        { "key": "<%= slugifiedPluralName %>Routes", "value": "/modules/<%= slugifiedPluralName %>/client/config/<%= slugifiedPluralName %>.client.routes.js" }
   ],
   "name": "<%= slugifiedPluralName %>",
   "module": "<%= slugifiedPluralName %>",
   "configs": [ "<%= slugifiedPluralName %>Client" ],
   "starter": "<%= slugifiedPluralName %>Routes"
}
